################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PPSalesAPISoln/.vs/ProjectEvaluation
/PPSalesAPISoln/.vs/PPSalesAPISoln
/.vs
/PPSalesAPISoln/PPSalesAPI/bin/Debug/net8.0
